@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Bold.eot');
  src: local('./font/TT Lakes Bold'), local('TTLakes-Bold'),
    url('./font/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('./font/TTLakes-Bold.woff') format('woff'),
    url('./font/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Medium.eot');
  src: local('./font/TT Lakes Medium'), local('TTLakes-Medium'),
    url('./font/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('./font/TTLakes-Medium.woff') format('woff'),
    url('./font/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('./font/TTLakes-Regular.eot');
  src: local('./font/TT Lakes Regular'), local('TTLakes-Regular'),
    url('./font/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/TTLakes-Regular.woff') format('woff'),
    url('./font/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TT Lakes';
}

.body {
  background-color: rgba(248, 248, 248, 1);
  margin: 0px;
  margin: 0 auto;
}

.page-header {
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #B8FFEC;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navigation__item {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 5px;
}

.navigation__item-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.navigation__item-button:hover {
  box-shadow: 0 0 3px 3px rgba(126, 126, 130, 0.5);
  transition: opacity 0.3s, transform 0.3s;
  border-radius: 100%;
}

.navigation__item:nth-child(1) {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 5px;
}

.navigation__item:nth-child(2) {
  display: none;
  cursor: auto;
  margin-top: 4px;
  margin-left: 20px;
  width: 2px;
  height: 32px;
  margin-right: 20px;
  padding-top: 5px;
}

.navigation__item:nth-child(3) {
  margin-left: 16px;
  cursor: auto;
  width: 98px;
  height: 51px;
  padding-top: 0;
}

.navigation__item:nth-child(4) {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 5px;
}

.navigation__item:nth-child(5) {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  margin-left: 16px;
}

.navigation__item:nth-child(6) {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  margin-left: 16px;
}

.navigation__item:nth-child(7) {
  cursor: auto;
  margin-top: 4px;
  margin-left: 16px;
  width: 2px;
  height: 32px;
  margin-right: 20px;
  padding-top: 5px;
}

.navigation__item:nth-child(9) {
  margin-left: 16px;
}

.page-main {
  background-color: rgba(248, 248, 248, 1);
}

.page-main__container {
  display: flex;
  flex-direction: row;
}

.main__paragraf {
  cursor: pointer;
  font-size: 16px;
  text-align: Right;
  color: rgba(27, 28, 33, 1);
  padding-right: 8px;
  margin: 8px 0;
}

.main-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.main-button:hover {
  box-shadow: 0 0 3px 3px rgba(126, 126, 130, 0.5);
  transition: opacity 0.3s, transform 0.3s;
  border-radius: 100%;
}

.main__paragraf:hover {
  text-decoration: underline;
  transition: opacity 0.3s, transform 0.3s;
}

.main__navigation {
  display: none;
  margin-left: auto;
  margin-right: 32px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 24px;

}

.main__navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  gap: 32px
}

.page-main__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 288px;
  height: 40px;
}

.main__navigation__item {
  display: flex;
  flex-direction: row;
}

.page-main__title__h1 {
  margin-left: 12px;
  font-size: 28px;
  vertical-align: center;
}

.page-main__title__img {
  margin: 0;
  padding: 0;
}

.topic-tabs__item:hover {
  display: flex;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: white;
}

.topic-tabs__item {
  display: flex;
  border: 2px solid transparent;
}

.topic-tabs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  overflow-x: scroll;
}

.item__a {
  color: #7E7E82;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 10px 8px 16px;
}

.first {
  width: 220px;
}

.last {
  margin-top: 2px;
}

.page-selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.paragraf {
  overflow: scroll;
  height: 90px;
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #1B1C21;
  min-width: 288px;
  max-width: 490px;
  max-height: 160px;
  top: 240px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 0;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}


.page-main__button {
  width: 132px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin-left: 16px;
  gap: 8px;
}

.page-main__button:hover {
  background-color: rgba(126, 126, 130, 0.2);
  transition: opacity 0.3s, transform 0.3s;
}

.button-two {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Lakes-Medium.wof';
  font-weight: 500;
  background-color: transparent;
  color: rgba(27, 28, 33, 1);
  border: none;
  gap: 0;
  padding: 0;
}

.footer-img {
  margin-bottom: 35px;
  width: 100%;
  min-width: 320px;
  min-height: 176px;
  max-width: 531.35px;
  max-height: 307px;
}

@media (min-width: 768px) {
  .page-header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .navigation__item:nth-child(2) {
    display: flex;
    flex-direction: row;
  }

  .navigation__item:nth-child(4) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .navigation__item:nth-child(5) {
    display: flex;
    flex-direction: row;
  }

  .navigation__item:nth-child(6) {
    display: flex;
    flex-direction: row;
  }

  .navigation__item:nth-child(3) {
    margin-left: 0px;
  }

  .navigation__item:nth-child(7) {
    margin-left: 20px;
  }

  .navigation__item:nth-child(9) {
    margin-left: 16px;
  }

  .page-selection {
    margin-top: 32px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 24px;
  }

  .selection_container {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .footer-img {
    margin-bottom: 0px;
  }

  .selection_container__footer-img {
    margin-bottom: 0;
  }

  .page-main__title {
    margin-top: 32px;
  }

  .topic-tabs {
    margin-left: 24px;
    margin-right: 32px;
  }

  .paragraf {
    margin: 0;
    width: 312px;
    height: 160px;
    line-height: 20px;
  }

  .page-main__button {
    margin-top: 10px;
    margin-left: 1px;
  }
}

@media (min-width: 1024px) {
  .page-header {
    display: none;
  }

  .topic-tabs {
    margin-left: 34px;
    margin-right: 22px;
    flex-wrap: wrap;
    overflow: auto
  }

  .page-main__title, .main__navigation {
    margin-top: 42px;
    margin-bottom: 8px;
  }

  .page-main__title__h1 {
    margin-bottom: 8px;
  }

  .page-selection {
    margin-top: 0px;
    margin-bottom: 49px;
    margin-right: 28.65px;
    margin-left: 34px;
  }

  .selection_container__paragraf {
    margin-top: 16.22px;
  }

  .selection_container {
    gap: 36px;
  }

  .paragraf {
    width: 490px;
    height: 160px;
    overflow: auto
  }

  .main__navigation {
    display: flex;
  }

  body {
    max-width: 1120px;
    max-height: 535px;
  }
}